/edictai_app/app/env.py

config.json
/edictai_app/app/client_secrets.json
audios/
images/
videos/
*.pyc
*.pycache
*.mp3
*.mp4
media/
/edictai_app/app/__pycache__
node_modules
edictai_home/node_modules

.config.json
edictai_app/app/transcript/complete_transcript.py
edictai_app/app/transcript/complete_transcript_2.py
